@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.active {
    font-weight: 400 !important;
    color: black !important;
    text-decoration: underline !important;
}

a {
    text-decoration: none !important;
}